body{
    margin: 0;
    color: black;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: top left;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.header{
    background-color: rgba(255, 255, 255, 0.801);
    border-left: 2px solid #ff4c00;
    border-right: 2px solid #ff4c00;
    text-align: center;
}

h1{
    font-size: 1rem;
    display: inline-block;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.NoP{
    padding: 0;
}

.NoPr{
    padding-right: 0;
}

.FL{
    float: left;
}

.FR{
    float: right;
}

.map-responsive{
    overflow: hidden;
}

iframe{
    border: 0;
}

.Logo{
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.border2d{
    place-items: center;
	border-top: 2px solid #ff4c00;
    border-bottom: 2px solid #ff4c00;
    background: linear-gradient(90deg, rgba(255,190,92,0.014443277310924318) 0%, rgba(92, 255, 220, 0.802) 30%, rgba(92, 136, 255, 0.802) 70%, rgba(253,187,45,0) 100%);
}

.BtnBox{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
}

.BtnBox img{
    width: 100%;
    height: auto;
    border: 8px solid;
    border-image: url('../images/border.png') 30 / 19px round;
}

.BtnBox p{
    margin: 0 auto;
    display: block;
    width: 110px;
    height: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.637);
    position: absolute;
    bottom:12px
}

.marketing{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: white;
}

.ImgBox{
    padding: 5px;
}

.ImgBox img{
    width: 100%;
    height: auto;
    border: 2px solid white;
}

.footer{
    text-align: center;
    border-bottom: 0px!important;
    background: none!important;
}

.footer div{
    min-height: 450px;
}

.footer p{
    background-color: rgba(255, 255, 255, 0.801);
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    border-left: 2px solid #ff4c00;
    border-right: 2px solid #ff4c00;
}

.footer a{
    color: black;
    text-decoration: underline;
}

.info{
    background-image: url("../images/koktel.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 150px 66px;
}

#modal{
    display: none;
    background-color: white;
    color: black;
    max-width: 600px;
}

.mdlNav{
    width: 100%;
    height: 40px;
    position: absolute;
}

#close{
    display: block;
    float: right;
    width: 30px;
    height: 40px;
    font-size: 26px;
    text-align: center;
    background-color: black;
    color: white;
}

.mdlNav a img{
    width: 100%;
    height: auto;
}

#mdlBox img{
    width: 100%;
    height: auto;
}

#mdlGal{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}

#mdlGal a{
    width: 100px;
    height: auto;
    flex: 0 0 30%;
}

#mdlGal a img{
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* Footer */

#author {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #424242;
    background-color: #fff;
    box-shadow: 0 0 22px -5px rgba(255, 255, 255, 0.53);
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#author a {
    color: #424242;
    text-decoration: underline;
}
  
#brand{
    width: 100%;
    display: block;
    background-color: white;
    color: black;
    text-align:center;
    font-family: 'Roboto',sans-serif;
}